@import "const_variables";
@import "mixin";

%isActive {
  display: flex;
  margin: 1px;
  width: 100px;
  height: 100px;
  background-color: #eee;
  line-height: 100px;
  justify-content: center;
  @include renderCalendarContent;
}

%WrapperClass {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

%CalendarContainer {
  margin-top: 10%;
  width: $TableWidth;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

%Hover {
  &:hover {
    cursor: pointer;
    position: relative;
    box-shadow: 1px 1px 1px 1px gray;
    animation-duration: 2s;
    animation-name: move_ceil;
  }
}

%DefaultDivState {
  & div {
    display: none;
  }
}
