@import "const_variables";
@import "mixin";

%isActive {
  @include renderCalendarContent;
  display: flex;
  margin: $CellGap;
  width: $CellWidth;
  height: $CellHeight;
  background-color: #eee;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  transition: background-color 2s, transform 2s;
}

%WrapperClass {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

%CalendarContainer {
  width: $TableWidth;
  height: 613px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

%Hover {
  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px gray;
    background-color: #00acdc;
    transform: translateY(-20px);
  }
}
