$CeilMarginLeftX: 100px;
$TableWidth: 715px;
$AddBorderMarginXtue: 3px;
$AddBorderMarginXwed: 5px;
$AddBorderMarginXthu: 7px;
$AddBorderMarginXfri: 9px;
$AddBorderMarginXsat: 11px;
$AddBorderMarginXsun: 13px;
