@import "reset";
@import "const_variables";
@import "components/CalendarTable";

html {
  height: 100%;
}

body {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
