body {
  margin: 0; }

.calendar div:nth-child(1), .calendar div:nth-child(2), .calendar div:nth-child(3), .calendar div:nth-child(4), .calendar div:nth-child(5), .calendar div:nth-child(6), .calendar div:nth-child(7), .calendar div:nth-child(8), .calendar div:nth-child(9), .calendar div:nth-child(10), .calendar div:nth-child(11), .calendar div:nth-child(12), .calendar div:nth-child(13), .calendar div:nth-child(14), .calendar div:nth-child(15), .calendar div:nth-child(16), .calendar div:nth-child(17), .calendar div:nth-child(18), .calendar div:nth-child(19), .calendar div:nth-child(20), .calendar div:nth-child(21), .calendar div:nth-child(22), .calendar div:nth-child(23), .calendar div:nth-child(24), .calendar div:nth-child(25), .calendar div:nth-child(26), .calendar div:nth-child(27), .calendar div:nth-child(28) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-color: #eee;
  line-height: 100px; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh; }

.calendar {
  margin-top: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 715px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start; }

@-webkit-keyframes move_ceil {
  from {
    top: 0;
    background-color: #8796ff; }
  to {
    top: -20px;
    background-color: #ff4050; } }

@keyframes move_ceil {
  from {
    top: 0;
    background-color: #8796ff; }
  to {
    top: -20px;
    background-color: #ff4050; } }

.calendar div:nth-child(1), .calendar div:nth-child(2), .calendar div:nth-child(3), .calendar div:nth-child(4), .calendar div:nth-child(5), .calendar div:nth-child(6), .calendar div:nth-child(7), .calendar div:nth-child(8), .calendar div:nth-child(9), .calendar div:nth-child(10), .calendar div:nth-child(11), .calendar div:nth-child(12), .calendar div:nth-child(13), .calendar div:nth-child(14), .calendar div:nth-child(15), .calendar div:nth-child(16), .calendar div:nth-child(17), .calendar div:nth-child(18), .calendar div:nth-child(19), .calendar div:nth-child(20), .calendar div:nth-child(21), .calendar div:nth-child(22), .calendar div:nth-child(23), .calendar div:nth-child(24), .calendar div:nth-child(25), .calendar div:nth-child(26), .calendar div:nth-child(27), .calendar div:nth-child(28) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-color: #eee;
  line-height: 100px; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh; }

.calendar {
  margin-top: 10%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 715px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start; }

@keyframes move_ceil {
  from {
    top: 0;
    background-color: #8796ff; }
  to {
    top: -20px;
    background-color: #ff4050; } }

.calendar div:nth-child(1) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(1):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(1):after {
    content: "1"; }
  .calendar div:nth-child(1):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(2) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(2):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(2):after {
    content: "2"; }
  .calendar div:nth-child(2):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(3) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(3):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(3):after {
    content: "3"; }
  .calendar div:nth-child(3):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(4) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(4):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(4):after {
    content: "4"; }
  .calendar div:nth-child(4):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(5) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(5):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(5):after {
    content: "5"; }
  .calendar div:nth-child(5):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(6) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(6):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(6):after {
    content: "6"; }
  .calendar div:nth-child(6):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(7) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(7):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(7):after {
    content: "7"; }
  .calendar div:nth-child(7):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(8) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(8):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(8):after {
    content: "8"; }
  .calendar div:nth-child(8):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(9) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(9):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(9):after {
    content: "9"; }
  .calendar div:nth-child(9):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(10) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(10):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(10):after {
    content: "10"; }
  .calendar div:nth-child(10):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(11) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(11):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(11):after {
    content: "11"; }
  .calendar div:nth-child(11):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(12) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(12):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(12):after {
    content: "12"; }
  .calendar div:nth-child(12):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(13) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(13):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(13):after {
    content: "13"; }
  .calendar div:nth-child(13):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(14) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(14):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(14):after {
    content: "14"; }
  .calendar div:nth-child(14):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(15) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(15):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(15):after {
    content: "15"; }
  .calendar div:nth-child(15):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(16) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(16):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(16):after {
    content: "16"; }
  .calendar div:nth-child(16):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(17) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(17):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(17):after {
    content: "17"; }
  .calendar div:nth-child(17):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(18) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(18):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(18):after {
    content: "18"; }
  .calendar div:nth-child(18):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(19) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(19):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(19):after {
    content: "19"; }
  .calendar div:nth-child(19):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(20) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(20):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(20):after {
    content: "20"; }
  .calendar div:nth-child(20):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(21) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(21):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(21):after {
    content: "21"; }
  .calendar div:nth-child(21):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(22) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(22):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(22):after {
    content: "22"; }
  .calendar div:nth-child(22):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(23) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(23):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(23):after {
    content: "23"; }
  .calendar div:nth-child(23):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(24) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(24):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(24):after {
    content: "24"; }
  .calendar div:nth-child(24):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(25) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(25):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(25):after {
    content: "25"; }
  .calendar div:nth-child(25):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(26) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(26):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(26):after {
    content: "26"; }
  .calendar div:nth-child(26):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(27) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(27):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(27):after {
    content: "27"; }
  .calendar div:nth-child(27):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div:nth-child(28) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .calendar div:nth-child(28):nth-child(1) {
    margin-left: 409px; }
  .calendar div:nth-child(28):after {
    content: "28"; }
  .calendar div:nth-child(28):hover {
    cursor: pointer;
    position: relative;
    border: 1px seashell solid;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: move_ceil;
            animation-name: move_ceil; }

.calendar div {
  display: none; }

/*# sourceMappingURL=main.css.map */
